[Desktop Entry]
X-SuSE-translate=true
Categories=
Encoding=UTF-8
Name=ArsNovaDesktop
GenericName=ArsNovaDesktop
Type=Application
Exec=arsnovadesktop
Icon=arsnova