[Desktop Entry]
X-SuSE-translate=true
Categories=
Encoding=UTF-8
Name=ARSnovaDesktop
GenericName=ARSnovaDesktop
Type=Application
Exec=arsnovadesktop
Icon=arsnova