[Desktop Entry]
X-SuSE-translate=true
Categories=
Encoding=UTF-8
Name=ARSnova Overlay
GenericName=ARSnova Overlay
Type=Application
Exec=arsnovaoverlay
Icon=arsnova