*~
*.o
*.obj
*.so
*.dll
*.exe
*.dmg
CPack*.cmake
CTest*.cmake
cmake*.cmake
*.kdev4
*.cxx*
*.log
*ui_*
build/*
CMakeFiles*
CMakeCache*
*/CMakeFiles*
*/CMakeCache*
*CPack*
Makefile
*bin/*
*coverage*
*doc*
Doxyfile
*.log
Testing*
src/version.h
