*~
*.o
*.obj
*.so
*.dll
*.exe
*.dmg
*.orig
CMake*.cmake
CPack*.cmake
CTest*.cmake
cmake*.cmake
*.kdev4
*.cxx*
*ui_*
build/*
CMakeFiles*
CMakeCache*
*/CMakeFiles*
*/CMakeCache*
*CPack*
Makefile
*bin/*
*coverage*
*doc*
Doxyfile
*.log
Testing*
